@charset "utf-8";
/* CSS Document */
body{
	background-color: cadetblue
}
.formlienhe{
	background-color: aliceblue;
	margin: 600px;
	padding: 20px;
	text-align: center;
	}
h1{
	font-size: 30px;
}
.nutbam{
	background-color: royalblue;
	color:aliceblue;
	padding: 10px;
	border: none;
	border-radius: 5px;
}
.input{
	width:250px;
}